.statistic {
   height: 250px;
   background: $green;

   @include sm {
      height: 100%;
   }

   &__container {
      display: flex;

      @include sm {
         flex-wrap: wrap;
      }
   }

   &__card {
      display: flex;
      border-left: 1px solid $white;
      height: 250px;
      width: 100%;
      justify-content: center;
      align-items: center;

      @include sm {
         border-bottom: 1px solid $white;
         border-left: none;
      }

      &:last-child {
         border-right: 1px solid $white;

         @include sm {
            border-right: none;
            border-bottom: none;
         }
      }
   }

   &__number {
      font-weight: 700;
      font-size: 64px;
      line-height: 75px;
      text-align: center;
      color: $white;

      @include md {
         font-size: 48px;
         line-height: 56px;
      }
   }

   &__text {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;

      @include md {
         font-size: 18px;
         line-height: 21px;      
      }
   }
}