$kaushan-font-stack: 'Kaushan Script', cursive;
$raleway-font-stack: "Raleway", Arial, sans-serif;
$montserrat-font-stack: "Montserrat", Arial, sans-serif;

$red: #f38281;
$yellow: #f9efcf;
$orange: #f4bf87;
$green: #95E1D3;
$black: #2D3033;
$gray: #C6CBCD;

$white: #fff;

